@font-face {
    font-family:'SeoulNamsanM';
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot');
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot?#iefix') format('embedded-opentype'), /* IE 6,7,8 적용, embedded-opentype -> IE 8,9 적용 */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.woff') format('woff'), /* IE 제외한 나머지 (크롬 등등) */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.ttf') format('truetype');
}

html {
    font-size: 15px;
    line-height: 1.6;
}

* {
    letter-spacing: -0.02em;
	font-family: "SeoulNamsanM";
}

a {
	color: inherit;
}

a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.btn:focus, .btn:active {
	box-shadow: none;
}

/* Navebar*/

/*네비 통일 부분*/
.header__button {
    background-color: inherit;
}

.navbar-nav, .navbar {
    flex-direction: row;
}

.dropdown-menu {
    right: 0;
    left: inherit;
}

.dropdown-item {
    font-size: 1.1rem;
}

.header__dropdown {
	border: 0;
	background-color: #666666;
}

.header__ul {
	list-style-type: none;
}

.header__ul li a {
	color: #fff !important;
	transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
	background-color: #464a4c;
}

.bg-sambemi {
    background-color: #666666;
}

.navbar-white {
    color: #fff !important;
    font-weight: 700;
    font-size: 1rem;
}

@media (max-width: 400px) { 
    .navbar a, .header__button, button.navbar-white {
        font-size: .7rem;
    }
}
/*//네비 통일 부분*/

/* My group header */

.my_group__title {
	color: #3D74AA;
	font-weight: 700;
}

.my_group__header {
	align-items: center;
}

.my_group__search, .form-control {
	flex-grow: 1;
}

.my_group__btn_blue {
	color: #3D74AA;
	border: 1px solid #3d74aa;
	background-color: #fff;
}

.my_group__btn_blue:hover {
	color: #fff;
	background-color: #3d74aa;
}

.my_group__makeship {
	color: #ccc !important;
	border: 1px solid #ccc;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
}

.my_group__makeship:hover {
	color: #fff !important;
	background-color: #ccc;
}


/* // My group header */

/* My group tourship*/

.tourship__star {
	color: rgb(255, 242, 0);
}

.tourship__title {
	color: #666666;
	margin: 0;
	font-weight: 700;
	border-left: 5px solid #666666;
}


/* //My group tourship */

/* My group best */

.best__container {
	align-items: center;
}

.best__title {
	color: #666666;
	margin: 0;
	font-weight: 700;
	border-left: 5px solid #666666;
}

.best__people {
	color: #ccc;
}

.best__main__container {
	height: 400px;
    overflow: hidden;
}

.best__side__container {
	height: 200px;
	overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.best__main__container:hover .card-img-top, .best__side__container:hover .card-img-top {
    transform: scale(1.25);
}

@media screen and (min-width: 576px) and (max-width: 1199px){
    .height-fix {
        width: auto;
        height: 100%;
    }
}

.btn__group__join {
    color: #3D74AA;
    border: 1px solid #3D74AA;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.btn__group__join:hover {
    color: #fff;
    background-color: #3D74AA;
}

/* //My group bset */

