            {% for post in post_list %}
            {% if post.photo_set.count == 0 %}
            <!-- 사진이 하나 일 때 -->
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'박기철</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                <button type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o" aria-hidden="true"></button>
                                <button type="button" class="fa fa-heart fa-2x px-2 pb-2 heart
                                " aria-hidden="true"></button>
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <div class="report" data-toggle="modal" data-target="#report">
                                            <a class="dropdown-item" href="#"><i class="fa fa-ban" aria-hidden="true"></i> 신고하기 </a>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0">
                                <!-- Button trigger modal -->
                                <div class="card-block">
                                    <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                        <h4 class="card-title">{{post.title}}</h4>
                                        <p class="card-text">{{post.content}}</p>
                                    </a>
                                </div>
                                <!-- /Button trigger modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- 사진이 하나 일 때 -->
            {% endif %}


            <!-- 사진이 두개 일 때 -->
            {% if post.photo_set.count == 1 %}
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'박기철</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                <button type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o" aria-hidden="true"></button>
                                <button type="button" class="fa fa-heart fa-2x px-2 pb-2 heart
                                " aria-hidden="true"></button>
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <div class="report" data-toggle="modal" data-target="#report">
                                            <a class="dropdown-item" href="#"><i class="fa fa-ban" aria-hidden="true"></i> 신고하기 </a>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0">
                                <!-- Button trigger modal -->
                                <div class="card-block">
                                    <div>
                                        <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                            <h4 class="card-title">{{post.title}}</h4>
                                            <p class="card-text">{{post.content}}</p>
                                        </a>
                                    </div>
                                </div>
                                <!-- /Button trigger modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endif %}
            <!-- 사진이 두개 일 때 -->

            <!-- 사진이 세개 일 때 -->
            {% if post.photo_set.count == 2 %}
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'박기철</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                <button type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o" aria-hidden="true"></button>
                                <button type="button" class="fa fa-heart fa-2x px-2 pb-2 heart
                                " aria-hidden="true"></button>
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <div class="report" data-toggle="modal" data-target="#report">
                                            <a class="dropdown-item" href="#"><i class="fa fa-ban" aria-hidden="true"></i> 신고하기 </a>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.1.file.url }}" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <!-- Button trigger modal -->
                                        <div class="card-block">
                                            <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                                <h4 class="card-title">{{post.title}}</h4>
                                                <p class="card-text">{{post.content}}</p>
                                            </a>
                                        </div>
                                        <!-- /Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- 사진이 세개 일 때 -->
            {% endif %}

            {% if post.photo_set.count >= 3 %}
            <!-- 사진이 네개 일 때 -->
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'박기철</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                <button type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o" aria-hidden="true"></button>
                                <button type="button" class="fa fa-heart fa-2x px-2 pb-2 heart
                                " aria-hidden="true"></button>
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <div class="report" data-toggle="modal" data-target="#report">
                                            <a class="dropdown-item" href="#"><i class="fa fa-ban" aria-hidden="true"></i> 신고하기 </a>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.1.file.url }}" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.2.file.url }}" alt>
                                            </a>
                                        </div>
                                        <!-- Button trigger modal -->
                                        <div class="card-block">
                                            <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                                <h4 class="card-title">{{post.title}}</h4>
                                                <p class="card-text">{{post.content}}</p>
                                            </a>
                                        </div>
                                        <!-- /Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endif %}
            <!-- 사진이 네개 일 때 -->

            {% endfor %}