{% extends "layout.html" %}
{% load static %}
<!--스타일 적용-->
{% block style %}
	<link rel="stylesheet" href="{% static 'news/newspeed_custom.css' %}">
{% endblock style %}

<!--내용 시작-->
{% block content %}
	<article class="article">
        <div class="serch navbar">
        <div id="sb-search" class="sb-search mt-5">
        <form>
            <input class="sb-search-input" placeholder="검색어를 입력하세요." type="text" value="" name="search" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
        </form>
        </div>
        </div>
    </article>
    <!-- /Serch -->
    <!-- Main -->
    <main class="main">
        <div class="container pt-5 mt-5">
            <div class="btn-group d-flex row justify-content-end" role="group" aria-label="Basic example" data-toggle="bottons">
                <button type="button" class="btn btn-secondary"><a>실시간 순</a></button>
                <button type="button" class="btn btn-secondary"><a>좋아요 순</a></button>
                <button type="button" class="btn btn-secondary"><a href='{% url "news:news_list" %}'>내 타임라인</a></button>
            </div>
           {% for post in post_list %}
            {% if post.photo_set.count == 0 %}
            <!-- 사진이 하나 일 때 -->
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'{{ post.author.first_name }}</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                {% if post in like_list %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart fa-2x px-2 pb-2 heart like" aria-hidden="true"></button>
                                {% else %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o like" aria-hidden="true"></button>
                                {% endif %}
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if not user == post.author %}
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <!-- 게시자 신고 -->
                                        <div data-toggle="modal" data-target="#{{ post.id }}report">
                                            <button class="dropdown-item" type="button"><i class="fa fa-ban" aria-hidden="true"></i>신고하기 </button>
                                        </div>

                                        <div data-toggle="modal" data-target="#{{ post.id }}block">
                                        <button type="submit" class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </button>
                                        </div>
                                    {% else %}
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="pr-5 mr-2 row justify-content-end">
                                <p class="like"><strong id="count-{{post.id}}">좋아요: {{post.like_set.count}}</strong></p>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0">
                                <!-- Button trigger modal -->
                                <div class="card-block">
                                    <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                        <h4 class="card-title">{{post.title}}</h4>
                                        <p class="card-text">{{post.content}}</p>
                                    </a>
                                </div>
                                <!-- /Button trigger modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- 사진이 하나 일 때 -->
            {% endif %}


            <!-- 사진이 두개 일 때 -->
            {% if post.photo_set.count == 1 %}
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'{{ post.author.first_name }}</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                {% if post in like_list %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart fa-2x px-2 pb-2 heart like" aria-hidden="true"></button>
                                {% else %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o like" aria-hidden="true"></button>
                                {% endif %}
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if not user == post.author %}
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <!-- 게시자 신고 -->
                                        <div data-toggle="modal" data-target="#{{ post.id }}report">
                                            <button class="dropdown-item" type="button"><i class="fa fa-ban" aria-hidden="true"></i>신고하기 </button>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                    {% else %}
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="pr-5 mr-1 row justify-content-end">
                                <p class="like"><strong id="count-{{post.id}}">좋아요: {{post.like_set.count}}</strong></p>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 px-0 mt-3 mt-md-0">
                                <!-- Button trigger modal -->
                                <div class="card-block">
                                    <div>
                                        <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                            <h4 class="card-title">{{post.title}}</h4>
                                            <p class="card-text">{{post.content}}</p>
                                        </a>
                                    </div>
                                </div>
                                <!-- /Button trigger modal -->
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endif %}
            <!-- 사진이 두개 일 때 -->

            <!-- 사진이 세개 일 때 -->
            {% if post.photo_set.count == 2 %}
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'{{ post.author.first_name }}</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                {% if post in like_list %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart fa-2x px-2 pb-2 heart like" aria-hidden="true"></button>
                                {% else %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o like" aria-hidden="true"></button>
                                {% endif %}
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if not user == post.author %}
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <!-- 게시자 신고 -->
                                        <div data-toggle="modal" data-target="#{{ post.id }}report">
                                            <button class="dropdown-item" type="button"><i class="fa fa-ban" aria-hidden="true"></i>신고하기 </button>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                    {% else %}
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="pr-5 mr-1 row justify-content-end">
                                <p class="like"><strong id="count-{{post.id}}">좋아요: {{post.like_set.count}}</strong></p>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.1.file.url }}" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <!-- Button trigger modal -->
                                        <div class="card-block">
                                            <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                                <h4 class="card-title">{{post.title}}</h4>
                                                <p class="card-text">{{post.content}}</p>
                                            </a>
                                        </div>
                                        <!-- /Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- 사진이 세개 일 때 -->
            {% endif %}

            {% if post.photo_set.count >= 3 %}
            <!-- 사진이 네개 일 때 -->
            <div>
                <section class="posts pt-4">
                    <ul class="row justify-content-center">
                        <li class="col-12 col-sm-6">
                            <div class="post pl-3 pt-1">
                                <div class="d-flex flex-nowrap">
                                    <a href="#" class="card_profile d-flex justify-content-center align-items-center">
                                        <img class="card-img-top height-fix" src="/assets/img/my.jpg" alt>
                                    </a>
                                    <p class="post_user mt-2 ml-2"><a href="#">'{{ post.author.first_name }}</a> 여행자님'</p>
                                </div>
                                <div class="d-flex flex-nowrap pt-2">
                                    <p class="post_upload">UPLOAD DATE</p>
                                    <p class="post_date ml-2 pl-1">2017.07.01 PM 03:15</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-sm-6">
                            <div class="icon pt-3 pr-3 row justify-content-end">
                                {% if post in like_list %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart fa-2x px-2 pb-2 heart like" aria-hidden="true"></button>
                                {% else %}
                                    <button name="{{post.id}}" href="{% url 'news:post_like' %}" type="button" class="fa fa-heart-o fa-2x px-2 pb-2 heart_o like" aria-hidden="true"></button>
                                {% endif %}
                                <a href="#"><i class="fa fa-map-marker fa-2x px-1" aria-hidden="true"></i></a>
                                <div class="dropdown">
                                    <button class="btn_option" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-plus fa-2x pb-2" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if not user == post.author %}
                                        <a class="dropdown-item" href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유하기 </a>
                                        <!-- 게시자 신고 -->
                                        <div data-toggle="modal" data-target="#{{ post.id }}report">
                                            <button class="dropdown-item" type="button"><i class="fa fa-ban" aria-hidden="true"></i>신고하기 </button>
                                        </div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user-times" aria-hidden="true"></i> 차단하기 </a>
                                    {% else %}
                                        <a class="dropdown-item" href="/newspeed1_edit.html"><i class="fa fa-pencil" aria-hidden="true"></i> 수정하기 </a>
                                        <a class="dropdown-item" href="{% url 'news:post_destroy' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제하기 </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="pr-5 mr-1 row justify-content-end">
                                <p class="like"><strong id="count-{{post.id}}">좋아요: {{post.like_set.count}}</strong></p>
                            </div>
                        </li>
                    </ul>
                </section>
                <div class="group__card row mx-0">
                    <div class="col-12">
                        <div class="row">
                            <!-- Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 mt-3 mt-md-0" data-toggle="modal" data-target=".bd-example-modal-lg2">
                                <div class="card">
                                    <a href="#" class="tourbook__main__container d-flex justify-content-center">
                                        <img class="tourbook__main__img card-img-top height-fix" src="{{ post.main_photo.url }}" alt>
                                    </a>
                                </div>
                            </div>
                            <!-- /Button trigger modal -->
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.0.file.url }}" alt>
                                            </a>
                                        </div>
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.1.file.url }}" alt>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 flex-row px-0">
                                        <div class="card">
                                            <a href="#" class="tourbook__side__container d-flex justify-content-center">
                                                <img class="tourbook__side__img card-img-top height-fix" src="{{ post.photo_set.all.2.file.url }}" alt>
                                            </a>
                                        </div>
                                        <!-- Button trigger modal -->
                                        <div class="card-block">
                                            <a class="modalStart" href="{% url 'news:modal' %}" name="{{post.id}}">
                                                <h4 class="card-title">{{post.title}}</h4>
                                                <p class="card-text">{{post.content}}</p>
                                            </a>
                                        </div>
                                        <!-- /Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endif %}
            <!-- 사진이 네개 일 때 -->


            <!-- 차단하기 모달  -->
            <div class="modal fade" id="{{ post.id }}block" tabindex="-1" role="dialog"  aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">차단하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ block_form.as_table }}
                        <div class="modal-footer">
                    <input type="hidden" name="block_id" class="form-control" value="{{ post.author }}">
                    <input type="hidden" name="block_name" class="form-control" value="{{ post.author.first_name }}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="차단">
                  </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
<!-- 차단하기 모달 끝-->

<!-- 신고하기 모달  -->
            <div class="modal fade" id="{{ post.id }}report" tabindex="-1" role="dialog"  aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">신고하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{report_form.as_table}}
                        <!-- <input type="file" name="photo"> -->
                        <input type="hidden" name="report_id" class="form-control" id="recipient-name" value="{{ post.author }}">
                        <input type="hidden" name="report_title" class="form-control" value="{{ post.id }}">
                        <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="신고">
                  </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
<!-- 신고하기 모달 끝-->

            {% endfor %}
            <div id="post_list_ajax">
                <!--스크롤 페이지네이션 내용 들어가는 공간-->
            </div>
            <input id="page" type="hidden" value="2">
            <div class="d-flex justify-content-center">
                <button id="callmorepost" class="fa fa-chevron-down fa-1x more_bt ml-1 mb-3"></button>
            </div>
        </div>
    </main>

     <!-- Modal content -->
     <div id="post-modal" class="modal fade bd-example-modal-lg show " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content post-modal-content">
                <!-- Modal content-->
            </div>
        </div>
    </div>
    <!-- /Modal content -->
    <!-- Modal img -->
    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ post.author.first_name }} 여행자님의 게시글</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="tourbook__main__img card-img-top height-fix" src="http://cfile27.uf.tistory.com/image/202F1C464DD57EB6158D14" alt>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal img -->
    <!-- Modal Report -->
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">게시글 신고하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <!-- modal content -->
          <div class="row">
            <!-- 욕설/비방 -->
            <div class="row">
              <label class="form-check-label ml-5 pl-5">
                <input class="form-check-input mr-1" type="checkbox" value="">
              </label>
              <p class="font-weight-bold mt-1">욕설/비방</p>
            </div>
            <!-- 음란물 -->
            <div class="row pl-xl-3" >
              <label class="form-check-label ml-5 pl-4">
                <input class="form-check-input mr-1" type="checkbox" value="">
              </label>
              <p class="font-weight-bold mt-1">음란물</p>
            </div>
            <!-- 광고 -->
            <div class="row pl-xl-3" >
              <label class="form-check-label ml-5 pl-4">
                <input class="form-check-input mr-1" type="checkbox" value="">
              </label>
              <p class="font-weight-bold mt-1">광고</p>
            </div>
            <!-- 기타 -->
            <div class="row pl-xl-3" >
              <label class="form-check-label ml-5 pl-4">
                <input class="form-check-input mr-1" type="checkbox" value="">
              </label>
              <p class="font-weight-bold mt-1">기타</p>
            </div>
          </div>
          <div class="form-group pt-2">
            <label for="exampleTextarea">신고 내용</label>
            <textarea class="form-control" id="exampleTextarea" rows="20"></textarea>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary">신고하기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Modal Report -->
{% endblock content %}

<!--스크립트 시작-->
{% block script %}
    <script type="text/javascript" src="{% static 'news/classie.js' %} "></script>
    <script type="text/javascript" src="{% static 'news/uisearch.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/news_modal_ajax.js' %}"></script>
    <script>
        new UISearch( document.getElementById( 'sb-search' ) );
        var endpage = "{{ post_list.paginator.num_pages|safe }}";
    </script>
    <script type="text/javascript" src="{% static 'news/news_pagination.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/comment_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/comment_more_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/like_ajax.js' %}"></script>
{% endblock script %}