{% extends "layout.html" %}
{% load static %}

<!--스타일 적용-->
{% block style %}

  <link rel="stylesheet" href="{% static 'accounts/after_login_main.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'news/newspeed_custom.css' %}"> -->

	<link rel="stylesheet" href="{% static 'accounts/after_login_main.css' %}">

{% endblock style %}

<!--내용 시작-->
{% block content %}
  <main class="main mt-5" >
    <div class="pt-3 main__content">
      <h1 class="logo ml-4">
        <img src="{% static 'accounts/logo3.png' %}" style="width: 20%;"></img>
      </h1>
    </div>
    <div class="map_wrap">
      <div id="after_login__map" style="width:100%;height:100vh;">
    </div>

    <div id="menu_wrap" class="bg_white ml-2">
      <div class="option">
        <div>
          <form onsubmit="searchPlaces(); return false;">
            키워드 : <input type="text" value="" id="keyword" size="15">
            <button type="submit">검색</button>
          </form>
        </div>
      </div>
      <hr>
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
    <div id="category_wrap">
      <ul id="category">
        <li id="BK9" data-order="0">
            <span class="category_bg bank"></span>
            은행
        </li>
        <li id="MT1" data-order="1">
            <span class="category_bg mart"></span>
            마트
        </li>
        <li id="PM9" data-order="2">
            <span class="category_bg pharmacy"></span>
            약국
        </li>
        <li id="OL7" data-order="3">
            <span class="category_bg oil"></span>
            주유소
        </li>
        <li id="CE7" data-order="4">
            <span class="category_bg cafe"></span>
            카페
        </li>
        <li id="CS2" data-order="5">
            <span class="category_bg store"></span>
            편의점
        </li>
      </ul>
    </div>
  </main>

  <!-- // main -->

  <!-- footer 아이콘들 놓기-->
    <div class="icon">
      <div class="d-flex justify-content-end fixed-bottom">
        <div class="mr-auto p-2">
          <!--<button type="button" class="fa fa-search-plus icons fa-3x"></button>-->
          <button type="button" class="fa fa-search icons fa-3x main__btn__search ml-2 mr-0"></button>
          <!--나침반 버튼 -->
          <div class="btn-group dropup pl-3">
            <button type="button" class="fa fa-compass icons fa-3x main__btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu search-friend">
                <form class="form-inline ml-2 mb-3">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-success search-friend-bt my-2 my-sm-0 mr-2" type="submit">Search</button>
                </form>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="fa fa-star fa-2x icon ml-2 mr-2"></button>
                  <button type="button" class="fa fa-smile-o friend-icon icon fa-2x mr-2"></button>
                  <button type="button" class="icon-top icon">Top 10</button>
                </div>
                 <div class="list-group friend-list mt-3">
                  <a href="#" class="list-group-item list-group-item-action"><img class="mr-3" src="assets/img/my.jpg" alt>이유림 여행자님</a>
                  <a href="#" class="list-group-item list-group-item-action"><img class="mr-3" src="assets/img/my.jpg" alt>장근열 여행자님</a>
                  <a href="#" class="list-group-item list-group-item-action"><img class="mr-3" src="assets/img/my.jpg" alt>박기철 여행자님</a>
                  <a href="#" class="list-group-item list-group-item-action"><img class="mr-3" src="assets/img/my.jpg" alt>오제웅 여행자님</a>
                </div>
            </div>
            <!--나침반 버튼 끝-->
          </div>
        </div>

        <div class="p-2">
          <button type="button" class="fa fa fa-home icons fa-3x main__btn" id="getLocation"></button>
          <button tabindex="0" class="fa fa-map-marker icons fa-3x main__btn" data-trigger="focus" data-toggle="popover_marker" data-placement="top">
              <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu mr-3 pl-1 hide" id="popover-marker-content">
            <ul class="pl-0">
              <li><a id="markerMake">추가하기</a></li>
              <li><a id="memory_booking">예약추가</a></li>
              <li><a id="all_view">전체보기</a></li>
              <li><a id="memory_pin_view">추억 핀 보기</a></li>
              <li><a id="booking_pin_view">예약 핀 보기</a></li>
            </ul>
          </div>

          <button type="button" class="fa fa-minus-circle icons fa-3x main__btn" data-toggle="modal" data-target="#del_memory" href="#del_memory"></button>

          <button type="button" class="fa fa-share-alt icons fa-3x main__btn" data-trigger="focus" data-toggle="popover_share" data-placement="top">
              <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu mr-3 pl-1 hide" id="popover-share-content">
            <ul class="pl-0">
              <li><a href="#" class="twitter_l fa fa-twitter-square fa-3x"></a></li>
              <li><a href="#" class="fa fa-facebook-square fa-3x"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  <!-- // footer -->

  <!-- Modal content -->
   <div id="post-modal" class="modal fade bd-example-modal-lg show " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content post-modal-content">
              <!-- Modal content-->
          </div>
      </div>
  </div>
  <!-- /Modal content -->

  <!-- 추억예약 모달 시작 -->
  <div class="modal fade" id="memoryBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">추억 예약하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="memoryBooking__address" class="col-3 col-form-label pr-0">주소</label>
            <div class="col-9 pl-0">
              {{bookingform.address}}
            </div>
          </div>
          <div class="form-group row">
            <label for="memory_title" class="col-3 col-form-label pr-0">제목</label>
            <div class="col-9 pl-0">
              {{bookingform.title}}
            </div>
          </div>
          <div class="form-group row">
            <label for="memory_content" class="col-3 col-form-label pr-0">내용</label>
            <div class="col-9 pl-0">
              {{bookingform.content}}
            </div>
          </div>
          <div class="form-group row">
            <label for="memory_friends" class="col-3 col-form-label pr-0">같이 갈 친구 태그(필수x)</label>
            <div class="col-9 pl-0">
              {{bookingform.to_user}}
            </div>
          </div>
            {{bookingform.location}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          <button id="booking-sent" type="button" class="btn btn-primary">예약하기</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 추억예약 모달 끝 -->

  <!--플러스아이콘 눌렀을시 : 추억 하나만 더하기 modal-->
  <div class="modal fade" id="add_memory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">추억 추가</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="memory-add-form" action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <p> {{ form.non_field_errors }}</p>
          <div class="form-group row">
            <label for="{{ form.title.id_for_label }}" class="col-3 col-form-label pr-0">제목</label>
            <div class="col-9 pl-0">
              {{form.title}}
            </div>
            {% for error in form.title.errors %}
                <p>{{ error }}</p>
            {% endfor %}
          </div>
          <div class="form-group row">
            <label for="{{ form.address.id_for_label }}" class="col-3 col-form-label pr-0">주소</label>
            <div class="col-9 pl-0">
              {{form.address}}
            </div>
            {% for error in form.address.errors %}
                <p>{{ error }}</p>
            {% endfor %}
          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-3 col-form-label pr-0">여행날짜</label>
            <div class="col-9 pl-0">
              {{form.tourday}}
            </div>
          </div>
          <div class="memory_icon">
            <a class="fa fa-smile-o fa-2x" href="#"></a>
             <!-- {{form.photo}} -->
          </div>
          <div class="form-group">
            {{form.content}}
          </div>
          <div class="container">
            <label class="photo_type">메인사진 : </label>{{ form.main_photo }}
            <label class="photo_type">서브사진 : </label>{{ forms.file }}
            <div class="form-group row mb-0 mt-3">
              <label for="example-date-input" class="col-3 col-form-label pr-0">공개설정</label>
              <div class="form-group mr-2 col-5">
                {{form.privacy}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="memory-add" type="submit" class="upload_bt">Upload</button>
        </div>
        {{form.location}}
       </form>
    </div>
  </div>
</div>

<!--플러스아이콘 눌렀을시 : 추억 여러개 더하기 modal-->
<div class="modal fade" id="multiAddModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">추억 추가</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="multiModel-body" class="modal-body">
           <div class="memory_icon" id="multigps">
            <a class="fa fa-smile-o fa-2x" href="#"></a>
            <label class="fa fa-plus fa-2x mb-2">
              <input type="file" onchange="javascript:document.getElementById('file_route').value=this.value" >
            </label>
          </div>
          <div class="form-group">
            <textarea class="form-control" readonly="readonly" id="file_route" rows="3"></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group row mb-0">
            <label for="example-date-input" class="col-3 col-form-label pr-0">공개설정</label>
            <div class="form-group mr-2 col-5">
              <select class="form-control" id="exampleSelect1">
                <option disabled selected="selected" class="bg-faded">설정</option>
                <option>전체공개</option>
                <option>친구공개</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-0">
            <label for="example-date-input" class="col-3 col-form-label pr-0">여행자그룹</label>
            <div class="form-group mr-2 col-5">
              <select class="form-control" id="exampleSelect1">
                <option>안함</option>
                <option>자전거그룹</option>
                <option>도보그룹</option>
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="upload_bt">Upload</button>
      </div>
    </div>
  </div>
</div>

<!--마이너스 아이콘 눌렀을 시 : 추억삭제 modal-->
<div class="modal fade" id="del_memory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">추억 삭제</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="friend__search mx-0 mx-sm-1 mx-md-3 mx-lg-5 my-2"><!--추억삭제 지역 검색-->
                <form class="form-inline" method="get">
                    <input class="form-control" type="text" placeholder="Search" name="search" id="search_content">
                    <button class="btn friend__btn_blue mx-1" type="submit" id="searchs">Search</button>
                </form>
                <small>추억의 제목 또는 날짜를 검색하세요.</small><br>
                <small> ex) 맛집 탐방 or 2015-08-09 </small>
            </div>
          <div class="list"><!--추억삭제 목록들-->
            <ul class="list pl-0" data-toggle="buttons" id="check_destroys">
              {% for post in post_list %}
                <li class="list_ck btn btn-primary mb-1" id="searchdata">
                   <input type="checkbox" name="{{post.id}}" class="check_destroy"> <b>우리들의 추억 : </b> {{ post.title }}
                </li>
              {% endfor %}
            </ul>
            <div id="pagination_index" class="mt-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
              {% if post_list.has_previous %}
                <li class="page-item"><a href="?page={{ post_list.previous_page_number }}" class="pagination_page page-link"> 이전페이지</a></li>
              {% endif %}
              {% for page in total_page %}
                {% if page == current_page %}
                  <li class="page-item"><a class="pagination_page page-link" href="{% url 'index' %}" style="font-weight:bold"> {{ page }} </a></li>
                {% else %}
                  <li class="page-item"><a class="pagination_page page-link" href="{% url 'index' %}"> {{ page }}</a></li>
                {% endif %}
              {% endfor %}
              {% if post_list.has_next %}
                  <li class="page-item"><a href="?page={{ post_list.next_page_number }}" class="pagination_page page-link"> 다음페이지</a></li>
                </ul>
              </nav>
            </div>
            {% endif %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="del_bt fa fa-trash-o fa-2x" id="destroy" value="{% url 'delete' %}"></button>
      </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!--스크립트 시작-->
{% block script %}
  <script>
      var userLocations = {
        'booking_locations': {{booking_locations|safe}},
        'locations':{{locations|safe}},
        'userid':{{user.id}},
        'url':"{% url 'news:modal' %}",
        'more_url':"{% url 'news:comment_more' %}"
       };
  </script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06220f2994a97769a8f7ba53ca9f39b8&libraries=services,clusterer"></script>
  <script type="text/javascript" src="{% static 'accounts/map_beta_main.js' %}"></script>
  <script type="text/javascript" src="{% static 'accounts/index_destroy_ajax.js' %}"></script>

{% endblock script %}


<script>
  $(document).on('click', '#memory-add', function(e){
    e.submit
    console.log("Dd")
  });
</script>


<script>
    var filesUpload = document.getElementById("files-upload"),
        fileList = document.getElementById("file-list");

    function traverseFiles (files) {
      var li,
          file,
          fileInfo;
      fileList.innerHTML = "";

      for (var i=0, il=files.length; i<il; i++) {
        li = document.createElement("li");
        file = files[i];
        fileInfo = "<div>"+ file.name + "</div>";
        li.innerHTML = fileInfo;
        fileList.appendChild(li);
      };
    };

    filesUpload.onchange = function () {
      traverseFiles(this.files);
    };
  </script>