{% for post in post_list %}
  <li class="list_ck btn btn-primary mb-1" id="searchdata">
     <input type="checkbox" name="{{post.id}}" class="check_destroy"> <b>우리들의 추억 : </b> {{ post.title }}
  </li>

{% endfor %}
</ul>
<div id="pagination_index" class="mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if post_list.has_previous %}
      <li class="page-item"><a href="?page={{ post_list.previous_page_number }}" class="page-link"> 이전페이지</a></li>
    {% endif %}
    {% for page in total_page %}
      {% if page == current_page %}
        <li class="page-item"><a class="pagination_page page-link" href="{% url 'index' %}" class="page-link" style="font-weight:bold"> {{ page }} </a></li>
      {% else %}
        <li class="page-item"><a class="pagination_page page-link" href="{% url 'index' %}"> {{ page }}</a></li>
      {% endif %}
    {% endfor %}
    {% if post_list.has_next %}
        <li class="page-item"><a href="?page={{ post_list.next_page_number }}" class="page-link"> 다음페이지</a></li>
      </ul>
  </nav>
</div>
  {% endif %}

</div>
<input id="search-flag" type="hidden" value="{{search}}" name="search-flag">