/* commit setting */
@font-face {
     font-family: "SeoulNamsan";
     src:url('/static/font/SeoulNamsanM/SeoulNamsanM.eot');
    src:url('/static/font/SeoulNamsanM/SeoulNamsanM.eot?#iefix') format('embedded-opentype'), /* IE 6,7,8 적용, embedded-opentype -> IE 8,9 적용 */
    url('/static/font/SeoulNamsanM/SeoulNamsanM.woff') format('woff'), /* IE 제외한 나머지 (크롬 등등) */
    url('/static/font/SeoulNamsanM/SeoulNamsanM.ttf') format('truetype');
}


html {
  font-size: 15px;
  line-height: 1.6;
}

* {
	font-family: 'SeoulNamsan';
	letter-spacing: -0.02em;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

/* header */
.header__button {
    background-color: inherit;
}

.navbar-nav, .navbar {
    flex-direction: row;
}

.dropdown-menu {
	/*right: 0;*/
	left: inherit;
}

.dropdown-menu i {
    color: rgb(61, 116, 170);
}

.dropdown-item {
    font-size: 1.1rem;
}

.bg-sambemi {
    background-color: #666666;
    /*background-color: #d6cbac;*/
}

.navbar-white {
    color: #fff !important;
    font-weight: 700;
    font-size: 1rem;
}

@media (max-width: 400px) {
    .navbar a, .header__button, button.navbar-white {
        font-size: .7rem;
    }
}

.fa-bolt,
.fa-bars {
	color: #fff;
}

/* serch */
.submit {
    display: none;
}

.article {
	width: 30%;
}

.article.fixed-top {
	top: 5%;
}

.btn_search,
.btn_option {
	background-color: transparent;
}

.btn {
  cursor: pointer;
}

.nav-menu {
	background-color: #666666;
	border: none;
	text-align: right;
}

.nav-menu a {
	color: #fff;
}

/* main */
.btn_font {
  font-family: 'SeoulNamsan';
}
.btn-secondary:focus {
  background-color: #ccc;
}

.card_profile {
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.posts {
	font-size: 1.1rem;
}

.posts a {
    color: #000000;
}

.post {
	border-left: 2px solid #ccc;
}

.post_user {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0;
}

.post_date {
	border-left: 2px solid #ccc;
}

.post_content {
	color: #000000;
}

.card-img_container {
	height: 23rem;
	overflow: hidden;
}

.btn_heart, .btn_option {
	background-color: transparent;
}

.fa-heart-o {
	color: #E78A97;
	background-color: transparent;
}

.fa-heart {
    color: #E78A97;
    background-color: transparent;
}

.fa-map-marker {
	color: #8ECEE3
}

.fa-plus {
    color: rgb(61, 116, 170);
}

.dropdown-menu i {
    color: rgb(61, 116, 170);
}

.dropdown-item:focus {
	background-color: transparent;
}

.tourbook__main__container {
    height: 400px;
    overflow: hidden;
}

.tourbook__side__container {
    height: 200px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.tourbook__main__container:hover .card-img-top, .tourbook__side__container:hover .card-img-top {
    transform: scale(1.25);
}

@media screen and (min-width: 576px) and (max-width: 1199px){
    .height-fix {
        width: auto;
        height: 100%;
    }
}

.reply, .reply_text{
  flex-grow: 1;
}

.reply_text {
    width: 99%;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
}

.form-check-input {
  width: 1.5rem;
  height: 1.5rem;
}



/*search plugin css*/

/*@font-face {*/
/*font-family: 'icomoon';*/
/*src: url('../fonts/icomoon/icomoon.eot');*/
/*src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),  url('../fonts/icomoon/icomoon.woff') format('woff'),  url('../fonts/icomoon/icomoon.ttf') format('truetype'),  url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/
.sb-search {
position: absolute;
margin-top: 10px;
width: 0%;
min-width: 55px;
height: 50px;
float: right;
overflow: hidden;
-webkit-transition: width 0.3s;
-moz-transition: width 0.3s;
transition: width 0.3s;
-webkit-backface-visibility: hidden;
}
.sb-search-input {
position: absolute;
top: 0;
right: 0;
outline: none;
background: #ddd;
width: 100%;
height: 50px;
margin: 0;
z-index: 10;
padding: 20px 65px 20px 20px;
font-family: inherit;
font-size: 20px;
color: #2c3e50;
border: 0;
}
 .sb-search-input::-webkit-input-placeholder {
 color: #3C74AA !important;
}
 .sb-search-input:-moz-placeholder {
 color: #3C74AA !important;
}
 .sb-search-input::-moz-placeholder {
 color: #3C74AA !important;
}
 .sb-search-input:-ms-input-placeholder {
 color: #3C74AA !important;
}
.sb-icon-search, .sb-search-submit {
width: 55px;
height: 50px;
display: block;
position: absolute;
right: 0;
top: 0;
padding: 0;
margin: 0;
line-height: 60px;
text-align: center;
cursor: pointer;
}
.sb-search-submit {
background: #fff; /* IE needs this */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
filter: alpha(opacity=0); /* IE 5-7 */
opacity: 0;
color: transparent;
outline: none;
z-index: -1;
border: 0;
}
.sb-icon-search {
color: #fff;
background-color: #fff;
z-index: 90;
font-size: 22px;
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
margin-right: 1px;
margin: 0;
}
/*.sb-icon-search:before {*/
/*content: "\e000";*/
/*}*/
/* Open state */
.sb-search.sb-search-open, .no-js .sb-search {
width: 100%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
color: #fff;
z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
z-index: 90;
}

.fa-search {
    color: #3C74AA;
}

.morepost {
  border: 1px solid #EAEAEA;
  color: #8C8C8C;
  background-color: #fff;
}

.more_bt {
    background-color:#fff;
    border:none;
    color: #3d74aa;
}