html {
  font-size: 15px;
  line-height: 1.6;
}

* {
  font-family: 'SeoulNamsanM', sans-serif;
  letter-spacing: -0.02em;
}

button, a {
	cursor: pointer;/*버튼 위에 올렸을때 커서모양이 바뀐다.*/
    border: none;
}

a:hover , a:focus {
    text-decoration: none;
}

ul ,ol  {
    padding : 0;
    list-style-type: none;
}

button:focus {
	outline: none;
}/*버튼을 눌렀을 시(:focus) 생기는 테두리를 없앤다 outline : 테두리*/

/* main */

#img {
  /*background-image: url("http://t1.daumcdn.net/localimg/localimages/07/2014/fiy/pin_addinfo_1.png");*/
  background-image: url("/static/img/pin_addinfo_1.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 50px;
  margin-left: 158px;
  margin-bottom: 33px;
}

.btn-group, .btn-group-vertical {
    vertical-align: inherit;
}

#after_login__map {
    /*height: 100vh;*/
    /*width: 100%;*/
    position: relative;
    /*z-index: -999999999999;*/
}

.main__content {
    position: absolute;
    z-index: 8;
}

.main {
	/*height: 100vh;*/
    /*background-image: url(../img/map.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
}

.logo {
    font-size: 3rem;
    color: #3C74AA;
    font-weight: 900;
    z-index: 8;
    /*background-image: url("/static/img/logo3.png");*/
    /*position: absolute;*/
}

@media (max-width: 417px) {
    .logo {
        font-size: 2rem;
    }
}

.total {
    color: #666666;
    font-weight: 700;
    border-left: 5px solid #666666;
    /*position: absolute;*/
    z-index: 8;
}

.mini_total {
    color: #666666;
    font-weight: 700;
    z-index: 8;
    /*position: absolute;*/
}

@media (max-width: 417px) {
    .total {
        font-size: 1rem;
    }
}


/*footer- icon*/
.icons{
	color: #666666!important;
	margin :0px 20px 5px 0px;
	text-decoration: none;
	color: #333;
}/*하단 버튼들 설정*/

.icons:focus {
    outline: none;
}

/*나침반 버튼 */

.search-friend {
    width :400px;
    background-color:rgba(255,255,255,0.8);
}

.search-friend-bt{
    border-color : #3C74AA;
    color: #3C74AA;
}

.search-friend-bt:hover , .search-friend-bt:focus{
    background-color: #3C74AA;
    border-color: #3C74AA;
    color:#fff;
}

.icon{
    background-color:inherit !important;
}

.fa-star{
    color: #FFF200;
}

.friend-icon , .icon-top{
    color:#3C74AA;
    font-weight:bold;
}

.friend-icon:focus, .friend-icon:hover ,.icon-top:focus, .icon-top:hover{
    border-bottom:2px solid #3C74AA;
}

.fa-star:focus , .fa-star:hover {
    border-bottom:2px solid yellow;
}


.friend-list a{
   font-weight:bold;
   background-color:inherit;
}

.friend-list img{
    width:40px;
    height:40px;
    border: 1px solid #fff;
    float: left;
}
/*나침반 버튼 끝*/


@media (max-width: 600px) {
    .icons{
        font-size: 1.2rem;
    }
}

/*추억더하기 modal*/
.modal-title {
    font-weight: 700;
}

.memory_icon fa-smile-o {
    color:#3C74AA;
}

#id_main_photo{
    width: 300px;
}

.memory_icon label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align: middle;
    overflow:hidden;
    width:30px;
    height:32px;
    color: #3C74AA;
    text-align:center;
    line-height: 30px;
}

.memory_icon label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}


.upload_bt {
    margin-left: 180px;
    width: 90px;
    height: 40px;
    color: #3C74AA;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fff;
    border : 1px solid #3C74AA;
    border-radius: 100px;
}

.upload_bt:focus , .upload_bt:hover {
    background-color: #3C74AA;
    color: #FFF;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.photo_type {
    width: 70px;
    margin:0;
}

/*추억삭제 modal*/


.list_ck {
    border: 1px solid #ccc;
    display: block;
    background-color: #fff;
    color: #888;
}
.friend__search, .form-control {/*추억 삭제 검색란*/
	flex-grow: 1;
}

.friend__btn_blue {/*추억 삭제 검색버튼*/
	color: #3D74AA;
	border: 1px solid #3d74aa;
	background-color: #fff;
}

.friend__btn_blue:hover , .friend__btn_blue:focus {
    color: #fff;
    border: 1px solid #3d74aa;
    background-color: #3d74aa;
}


/*추억삭제 목록들*/
.list_ck:focus , .list_ck:hover {
    background-color: #ccc;
    outline: none;
}/*추억삭제 목록들*/

.more_bt {
    background-color:#fff;
    border:none;
    color: #3d74aa;
}

.more_bt_p {
    text-align:center;
}


.del_bt {
    background-color: #fff !important;
    border: none;
    color: black;
}

/*내핀클릭시 내용보기 및 수정*/
.carousel-control-prev , .carousel-control-next{
   color: black!important;
   width: 50px;
}

/*글작성된곳*/
.textarea {
  height: 200px;
}
/*댓글창*/
.text {
  width: 280px;
}

.text_bt {
  background-color: #fff;
  color: #3C74AA;
  border: 1px solid #3C74AA;
}

.card img {
    height: 430px;
}

/*공유 드랍 박스*/
/*.dropdown-menu {*/
/*    min-width: 5rem;*/
/*    border-style: none;*/
/*}*/

.share-menu {
    background:none !important;
}

/*공유 드랍 박스 로고*/
.twitter_l {
    color: #2BA8E2;
}

/* 박기철 Start */
.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 500px;
}

.title {
    font-weight: bold;
    display: block;
}

.hAddr {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    padding: 5px;
}

#centerAddr {
    display: block;
    margin-top: 2px;
    font-weight: normal;
}

.bAddr {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 450px;
    /*margin: 10px 0 30px 10px;*/
    padding: 5px;
    margin-top: 80px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
    display: none;
}

.bg_white {
    background: #fff;
}

#menu_wrap hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F5F5F;
    margin: 3px 0;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option p {
    margin: 10px 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList li {
    list-style: none;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .marker_2 {
    background-position: 0 -56px;
}

#placesList .item .marker_3 {
    background-position: 0 -102px
}

#placesList .item .marker_4 {
    background-position: 0 -148px;
}

#placesList .item .marker_5 {
    background-position: 0 -194px;
}

#placesList .item .marker_6 {
    background-position: 0 -240px;
}

#placesList .item .marker_7 {
    background-position: 0 -286px;
}

#placesList .item .marker_8 {
    background-position: 0 -332px;
}

#placesList .item .marker_9 {
    background-position: 0 -378px;
}

#placesList .item .marker_10 {
    background-position: 0 -423px;
}

#placesList .item .marker_11 {
    background-position: 0 -470px;
}

#placesList .item .marker_12 {
    background-position: 0 -516px;
}

#placesList .item .marker_13 {
    background-position: 0 -562px;
}

#placesList .item .marker_14 {
    background-position: 0 -608px;
}

#placesList .item .marker_15 {
    background-position: 0 -654px;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

.main__btn {
    background-color: transparent;
}

.main__btn:focus {
    outline: none;
}

.main__btn__search {
    background-color: transparent;
}

.main__btn__search:focus {
    outline: none;
}

.travel {
    display: inline;
}

.break {
    display: none;
}

/* 박기철 End */

/* 장근열 Start */
/*.map_wrap,*/
/*.map_wrap * {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;*/
/*    font-size: 12px;*/
/*}*/

/*.map_wrap {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 350px;*/
/*}*/
#category_wrap{
    /*position: absolute;*/
    /*display: flex;*/
    /*align-items: flex-end;*/
    /*width:100%;*/
    /*height: 65vh;*/
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    align-items: flex-end;
    height: 11vh;
    /*margin: 10px 0 30px 10px;*/
    padding: 5px;
    margin-top: 550px;
    overflow-y: auto;
    z-index: 1;
    border-radius: 10px;
    display: none;
}

#category {
   top:10px;
   left:10px;
   border-radius: 5px;
   border:1px solid #909090;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
   background: #fff;
   overflow: hidden;
   z-index: 2;
}

#category li {
    float:left;
    list-style: none;
    width: 50px;
    border-right: 1px solid #acacac;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}

#category li.on {
    background: #eee;
}

#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}

#category li:last-child {
    margin-right: 0;
    border-right: 0;
}

#category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
}

#category li .category_bg {
    background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png') no-repeat;
}

#category li .bank {
    background-position: -7px 0;
}

#category li .mart {
    background-position: -7px -36px;
}

#category li .pharmacy {
    background-position: -7px -72px;
}

#category li .oil {
    background-position: -7px -108px;
}

#category li .cafe {
    background-position: -7px -144px;
}

#category li .store {
    background-position: -7px -180px;
}

#category li.on .category_bg {
    background-position-x: -46px;
}

.placeinfo_wrap {
    position: absolute;
    bottom: 28px;
    left: -150px;
    width: 300px;
}

.placeinfo {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #fff;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: #fff;
}

.placeinfo:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
    content: '';
    position: relative;
    margin-left: -12px;
    left: 50%;
    width: 22px;
    height: 12px;
    background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo span {
    margin: 5px 5px 0 5px;
    cursor: default;
    font-size: 13px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.placeinfo .title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px;
    color: #fff;
    background-color: #666666;
    ;
}

.placeinfo .tel {
    color: #0f7833;
}

.placeinfo .jibun {
    color: #999;
    font-size: 11px;
    margin-top: 0;
}

.placeinfo2_wrap {
    position: absolute;
    width: 200px;
}

.title2 {
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    left: 18px;
    bottom: 3px;
    display: inline;
    border-radius: 6px;
    border: 1px solid #666666;
    padding: 5px;
    color: #666666;
    background-color: #fff;
}
/* 장근열 End */
