/* Common Settings */
@font-face {
    font-family:'SeoulNamsanM';
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot');
    src:url('/assets/font/SeoulNamsanM/SeoulNamsanM.eot?#iefix') format('embedded-opentype'), /* IE 6,7,8 적용, embedded-opentype -> IE 8,9 적용 */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.woff') format('woff'), /* IE 제외한 나머지 (크롬 등등) */
        url('/assets/font/SeoulNamsanM/SeoulNamsanM.ttf') format('truetype');
}

html {
  font-size: 15px;
  line-height: 1.6;
}

* {
	font-family: 'SeoulNamsanM', sans-serif;
	letter-spacing: -0.02em;
}

button {
  border: none;
  cursor: pointer; /* 버튼에 커서를 올리면 손가락모양으로 바뀐다. */
}

button:focus {
  outline: none; /* 버튼에 커서를 클릭하면 바깥줄에 아무것도 적용하지 않는다. */
  border: none;
}

a {
  color: inherit; /* 상위 선택자 *로부터 색 상속 */
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.btn:focus, .btn:active {
	box-shadow: none;
}

.bg-faded {
  background-color: #666666 !important; /* bg-faded 클래스를 적용하면 배경색상을 회색으로 설정 */
}

ul, ol {
  list-style-type: none;
  padding: 0;
}


/* header */
/* navbar 통일안 */
.header__button {
    background-color: inherit;
}

.navbar-nav, .navbar {
    flex-direction: row;
}

.dropdown-menu {
    right: 0;
    left: inherit;
}

.dropdown-item {
    font-size: 1.1rem;
}

.header__dropdown {
	border: 0;
	background-color: #666666;
}

.header__ul {
	list-style-type: none;
}

.header__ul li a {
	color: #fff !important;
	transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
	background-color: #464a4c;
}

.bg-sambemi {
    background-color: #666666;
}

.navbar-white {
    color: #fff !important;
    font-weight: 700;
    font-size: 1rem;
}

/* 최대 너비 400픽셀일 때 아래 속성 적용  */
@media (max-width: 400px) {
    .navbar a, .header__button, button.navbar-white {
        font-size: .7rem;
    }
}

.fa-bolt,
.fa-bars {
  color: #fff;
}


/* 피드백 & 도움말 */
.btn__feedback {
  background-color: #FFFFFF;
  color: #3D74AA;
}

.btn__feedback:focus {
  background-color: #FFFFFF;
  outline: none;
  border: none;
}

.btn__help {
  background-color: #FFFFFF;
  color: #3D74AA;
}

.btn__help:focus {
  background-color: #FFFFFF;
  outline: none;
  border: none;
}

/* 환경 설정 메뉴 탭 */
.setting__title {
  color: #666666;
  margin-bottom: 30px;
}

@media (max-width: 400px) { /* 최대 너비 400픽셀 이하일 때 아래 속성 적용 */
  .setting__menu {
    font-size: .7rem;
  }
}


/* 회원 정보 수정 */
@media (max-width: 400px) { /* 최대 너비 400픽셀 이하일 때 아래 속성 적용 */
  .icon-section {
    font-size: 1.5rem;
  }
  .form-check-input {
    width: 1rem !important;
    height: 1rem !important;
  }
}

.form-control:focus {
  border-color: #666666; /* 입력창에 입력할 때 border 색상을 회색으로 설정 */
}

.form-control-feedback {
  color: #d9534f;
}

input[type="email"]:disabled {
  background: #BCBDBC;
}

input[type="text"]:disabled {
  background: #BCBDBC;
}

/* Save 버튼 */
.btn__save {
  color: #FFFFFF;
  background-color: #3D74AA;
  border-radius: 100px;
  font-size: 1.3rem;
}

.btn__save:hover,
.btn__save:active {
  border: 1px solid #3D74AA;
  color: #3D74AA;
  background-color: #FFFFFF;
  border-radius: 100px;
}